*{
    margin:0;
    display:auto;}


h1{
    color: blue;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    pa
}

ul{
    list-style-type: none;
    padding: 10px;
    text-align: center;
    
}

ul li{
    margin: 10px;
  
    display: inline-block;

}

a{
    
    text-decoration: none;
}

div.sombra1 {
    position:relative; 
    color:powderblue;
    font: 50px “arial black”; }  
    margin: 10px;
}

div.sombra2 { 
    position:absolute; 
    top:4px;}

