*{
    margin:0;
    display:auto;}


h1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.sombra1 {
    position:relative; 
    color:powderblue;
    font: 50px “arial black”; }  

div.sombra2 { 
    position:absolute; 
    top:4px;}

